.contacto {
  background-color: #e2e8f0;
  height: 400px;
  padding: 30px 0;
}
.form {
  width: 410px;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 8px;;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.form h3 {
  margin: 0 0;
  font-size: 34px;
}
.form button {
  font-size: 18px;
}
.inputs {
  font-size: 18px;
  margin-top: 20px;
  padding: 15px 10px;
  border-radius: 6px;
  border: 1px solid #e2e8f0;
}
textarea {
  margin-bottom: 20px;
}
@media screen and (min-width: 1000px) {
  .form {
    width: 700px;
  }
}